[submodule "dma"]
	path = dma
	url = https://github.com/PacoReinaCampo/MPSoC-DMA.git
[submodule "pu"]
	path = pu
	url = https://github.com/PacoReinaCampo/PU-OR1K.git
[submodule "mpram"]
	path = mpram
	url = https://github.com/PacoReinaCampo/MPSoC-MPRAM.git
[submodule "gpio"]
	path = gpio
	url = https://github.com/PacoReinaCampo/MPSoC-GPIO.git
[submodule "mpi"]
	path = mpi
	url = https://github.com/PacoReinaCampo/MPSoC-MPI.git
[submodule "noc"]
	path = noc
	url = https://github.com/PacoReinaCampo/MPSoC-NoC.git
